@import "../colors.module";
.optionlist {
  width: 40.5rem;
  ul {
    margin: 10px;
    padding: 0;
    height: 1300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
  }
  li {
    color: $the-white;
    font-size: 14px;
    padding: 10px;
    list-style-type: none;
    border-radius: 4px;
    &:hover {
      background-color: #5a5a5d;
    }
  }
}
.searchbar {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  input {  
    border: 1px solid #818588;
    border-radius: 8px;
    box-sizing: border-box;
    color: $the-white;
    font-size: 14px;
    height: 40px;
    background-color: transparent;
    width: 100%;
    background: url(https://www.gstatic.com/images/icons/material/system/2x/search_grey600_24dp.png) right 8px center no-repeat;
    background-size: 24px 24px;
    padding-left: 16px;
    padding-right: 40px;
    width: 90% !important;
    outline: none;
  }
  .closebutton {
    svg {
      margin-top: 5px;
      margin-left: 5px;
      width: 30px;
      height: 30px;
      padding: 6px;
      fill: #818588;
    }
  }
}
.optioncontainer {
  height: 250px;
  overflow: auto;
}
.listitem {
  display: flex;
}