$the-black: #202124;
$the-grey: #303134;
$the-white: #bdc1c6;
$white: #ffffff;
$the-blue: #8ab4f8;
$the-purple: #ca2c92;
$second-grey: #8080801f;
$electric-blue: #3a8eb4;
$the-orange: #fdfdfd;
