@import "./colors.module";
@import "./all.module";
@keyframes iconhover {
  0%   {height: 1.7rem;width: 1.7rem}
  100% {height: 2.5rem;width: 2.5rem}
}
@keyframes iconunhover {
  0%   {height: 2.5rem;width: 2.5rem}
  100% {height: 1.7rem;width: 1.7rem}
}
.layout{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar{
  display: flex;
  width: 100%;
  justify-content:flex-end;
  align-items: center;
  padding-top:0.2rem; 
}
.links{
  display: flex;
  background-color:$the-grey;
  border-radius: 0.5rem;

}
.logButton{
  button {
    border:none;
    background-color: $the-black;
    border-radius: 0.5rem;
    color:blue;
    margin: 0 1rem;
    padding: 0.4rem;
    cursor: pointer;
  }  
}
.link{
  background-color: $the-black;
  border-radius: 0.5rem;
  color:rgb(69, 108, 152);
  margin:  0.2rem;
  padding: 0.4rem;
  cursor: pointer;
}
.footer{
  height: 5rem;
  width:100%;
  background-color:$the-grey;
  display: flex;
  align-items:center;
  justify-content: center;
}
.icons{
  display: flex;
  align-items:center;
}
.fb,.yt,.tw,.in{
  margin: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items:center;
  svg{
    cursor: pointer;
    fill: $electric-blue;
    width: 1.7rem;
    height: 1.7rem;
    &:hover{
      width: 2.5rem;
      height: 2.5rem;
      animation-name: iconhover;
      animation-duration: 0.5s;
    }
    &:not(:hover){
      animation-name: iconunhover;
      animation-duration: 0.5s;
     }
  }
}
.fb{
  svg{
    width: 1.5rem;
    height: 1.5rem;
  }
  svg{
    &:hover{
      fill: #4267B2;
    }
  }
}
.yt{
  svg{
    &:hover{
      fill:	#FF0000;
    }
  }
}
.tw{
  svg{
    &:hover{
      fill:#1DA1F2;
    }
  }
}
.in{
  svg{
    &:hover{
      fill:#8a3ab9;
    }
  }
}