.textbox {
    margin: 20px;
}
.output , .input{
    min-height: 146px;
    border-radius: 10px;
    background-color: #303134;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    textarea {
        background-color: transparent;
        color: #bdc1c6;
        border: none;
        resize: none;
        padding: 10px;
        outline: none;
        overflow: hidden;
        font-size: 28px;
        width: 280px !important;
    }
}
.input {
    textarea {
        width: 260px !important;
    }
}
.output{
    .svgs {
        display: flex;
        justify-content: space-between;
    }
}
.delete {
    cursor: pointer;
    height:0px;
    width: 10px;
    position: relative;
    top: 0px;
    left: 250px;
    font-size: 50px;
    color:#ffffff;
    }
.languageselector{
    margin: 15px 0px;
    cursor: pointer;
    border: 0;
    border-bottom: 1px solid #8ab4f8;
    display: flex;
    justify-content: space-between;
    svg {
        margin-right: 10px;
        top: -33px;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        fill: #8ab4f8;
    }
    input {
        cursor: pointer;
        background-color: transparent;
        color: #8ab4f8;
        padding: 5px 15px;
        font-size: 15px;
        border: 0;
    }
}
.svgs {
    display: flex;
    svg {
        margin: 4px;
        width: 32px;
        height: 32px;
        fill: #ffffff;
        cursor: pointer;
        border-radius: 50%;
        padding: 5px;
        &:hover { 
            background-color: grey;
        }
    }
}
