@import "./all.module";
@import "./colors.module";
.page {
  @include page
}
.content {
  @include content;
  display: flex;
}
.changebutton{
  z-index: 100;
  svg {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding: 2px;
    fill: $the-blue;
    &:hover {
      background-color: $the-grey;
    }
  }
    margin:5px;
  margin-bottom: 50px;
}