@import "./all.module";
@import "./colors.module";

.content {
  @include content;
  flex-direction: column;
}
.changebutton{
  z-index: 100;
  width: auto;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    margin : auto;
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    padding: 2px;
    fill: $the-blue;
    &:hover {
      background-color: $the-grey;
    }
  }
}
.languages{
  display: flex;
  flex-direction: row;
  margin: auto;
}
.texts{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .texts {
    flex-direction: column;
  }
  .languages{
    width: 19rem;
    padding:0 0.5rem;
  }
  .changebutton{
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}